[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% USE Bugzilla %]
[% PROCESS global/header.html.tmpl
   title = "$terms.ELIN Tracker Main Page"
   header = "ELIN Main Page"
   style_urls = [ 'skins/standard/index.css' ]
   og_image = "extensions/OpenGraph/web/ericsson.png"
   responsive = 1
%]

<div id="content">
  <header id="welcome">
    <h1>Welcome to [% terms.Bugzilla %]</h1>
    <p>The issue tracker for EST Elin products.</p>
  </header>

  <div class="options">

 
    <div class="option">
      <div class="icon">
        <a href="/enter_bug.cgi">
          <!-- Material Symbols: Note Add -->
          <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M22.5 36.7h3v-6.45H32v-3h-6.5v-6.5h-3v6.5H16v3h6.5Zm-11.05 8.55q-1.95 0-3.325-1.375Q6.75 42.5 6.75 40.55V7.45q0-1.95 1.375-3.35Q9.5 2.7 11.45 2.7H29.6l11.7 11.7v26.15q0 1.95-1.4 3.325-1.4 1.375-3.35 1.375Zm15.65-28.5h9.45l-9.45-9.3Z"/></svg>
        </a>
      </div>
      <div class="desc-container">
        <div class="title">
          <a href="/enter_bug.cgi">Report a new [% terms.bug %] in a Elin product</a>
        </div>
        [% IF !user.id %]
        <div class="desc">
          Requires a Bugzilla account
        </div>
        [% END %]
        <div class="desc">
          <a href="/page.cgi?id=etiquette.html">Bugzilla Etiquette</a>
          |
          <a href="https://support.mozilla.org/kb/contributors-guide-writing-good-bug">Tips for filing a [% terms.bug %]</a>
        </div>
      </div>
    </div>
    [% IF !user.id %]
      <div class="option">
        <div class="desc-container">
          <div class="desc">
            Required before you can <b>report a [% terms.bug %] in ELIN you must logon using OAUTH</b>.<br>
            You can <a href="?GoAheadAndLogIn=1">log in to an existing account</a>.
          </div>
        </div>
      </div>
    [% END %]


  </div>

  [% IF Param('cookie_consent_enabled') && Bugzilla.cgi.cookie_consent_required %]
  <div>
    <a href="[% basepath FILTER none %]page.cgi?id=cookies.html">Manage Cookie Preferences</a>
  </div>
  [% END %]
</div>

[% PROCESS global/footer.html.tmpl %]
